@property --rotate {
    inherits: false;
    initial-value: 0deg;
    syntax: '<angle>';
}

@keyframes border-rotate {
    from {
        --rotate: 0deg;
    }

    to {
        --rotate: 360deg;
    }
}
