:root {
    --shadow-sm: 0 0 3px var(--color-cyan-400), 0 0 6px var(--color-fuchsia-400);
    --shadow-md: 0 0 6px var(--color-cyan-400), 0 0 12px var(--color-fuchsia-400);
    --shadow-lg: 0 0 12px var(--color-cyan-400), 0 0 24px var(--color-fuchsia-400);
}
